<form action="/new" method="POST" class="card bg-dark text-light">
    <div class="card-body p-4">
        <div class="mb-3">
            <label for="fullname">Write your fullname:</label>
            <input type="text" name="fullname" placeholder="Write your fullname" class="form-control rounded-2 text-center"> 
        </div>
        <div class="mb-3">
            <label for="email">Write your email: </label>
            <input type="text" name="email" placeholder="Write your Email" class="form-control rounded-2 text-center">
        </div>
        <div class="mb-3">
            <label for="phone">Write your phone: </label>
            <input type="text" name="phone" placeholder="Write your phone" class="form-control rounded-2     border-0 text-center   ">
        </div>
    
        <button class=" btn btn-primary">Save</button>
    </div>
</form>