<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
      <a class="navbar-brand" href="/">Flask SQLAchemy CRUD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <li class="nav-item ms-auto align-middle">
            <a class="nav-link text-white" aria-disabled="true" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 