<form action="/new" method="POST">

    <input type="text" name="fullname" placeholder="Write your fullname">
    <input type="text" name="email" placeholder="Write your Email">
    <input type="text" name="phone" placeholder="Write your phone">

    <button>Save</button>
</form>

<div>
    {% for contact in contacts %}
    <div>
        <h5>{{contact.fullname}}</h5>
        <div>
            <a href="{{ url_for('contacts.update_contact')}}">Update</a>
            <a href="{{ url_for('contacts.delete_contact', id=contact.id)}}">Delete</a>
        </div>
        <p>{{contact.email}}</p>
        <p>{{contact.phone}}</p>
    </div>
    {% endfor %}
</div>